.button {
  text-transform: uppercase;
  padding: 0.8rem 2rem;
  margin: 0 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.button > span {
  margin-left: 0.5rem;
}

.primary {
  background-color: #50a584;
  color: #f1f1f1;
}

.primary:hover {
  background-color: #f1f1f1;
  color: #50a584;
  transition: ease-in 0.5s;
}

.default {
  background: transparent;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
}

.default:hover {
  background: #f1f1f1;
  color: black;
  transition: ease-in 0.5s;
}
